@font-face {
  font-family: ProximaNova-Regular;
  src: url("/static/fonts/ProximaNova-Regular.otf");
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url("/static/fonts/ProximaNova-Bold.otf");
}

#header{
    background-color: #1c1c20;
    height: 920px;
    margin-top: -100px;
    overflow-y: hidden;

    img{
        position: absolute;
        right: 0px;
    }
    .text_holder{
      padding-top: 195px;
      padding-left: 35px;
      z-index: 2;
      position: relative;
    }
    p{
      font-family: ProximaNova-Regular;
      color:white;
      font-size: 0.95em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h3{
      font-family: 'Open Sans', sans-serif;
      font-size: 2.5em;
      color: #d4d9e2;
      font-weight: 300;
      width: 550px;
      strong{
        color:white;
        font-weight: 600;
      }
    }
    button{
      background-color: #0098d8;
      color: white;
      font-family: ProximaNova-Regular;
      font-size: 1em;
      border: none;
      outline: none;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      letter-spacing: 2px;
      border-radius: 4px;
      margin: 0 auto;
      display: block;
      margin-top: 56px;
      box-shadow: 0px 0px 8px 0px darkgrey;
      z-index: 2;
      position: relative;
    }
}