@font-face {
  font-family: ProximaNova-SemiBold;
  src: url("/static/fonts/ProximaNova-Semibold.otf");
}

.eshop-heading-container {
  min-height: 210px;

  h1 {
    font-family: ProximaNova-SemiBold;
  }
}