@font-face {
    font-family: ProximaNova-Regular;
    src: url("/static/fonts/ProximaNova-Regular.otf");
  }

.navbar{
    margin-top: 25px;
}
.navbar-nav{
    li{
        a{
            font-family: ProximaNova-Regular;
            color:white;
            font-size: 0.8em;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        button{
            font-family: ProximaNova-Regular;
            color:white;
            font-size: 0.8em;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .button-link{
            background-color: #0098d8;
            border-radius: 2px;
            padding-right: 28px !important;
            padding-left: 28px !important;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}