.product {
  position: relative;
  padding-top: 8.5rem;

  .product-bg {
    background-color: #eee;
    padding: 11rem 2.5rem 2rem;
    position: relative;

    h4 {
      font-weight: 100;
    }
    h5 {
      font-weight: bold;
    }
    img {
      position: absolute;
      top: -35%;
    }
  }

  .button-link {
    background-color: #37baf1;
    border-color: transparent;
    border-radius: 2px;
    color: #fff;
    padding-right: 28px !important;
    padding-left: 28px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: -1rem;
    width: calc(100% - 5rem);
  
    &:hover {
        background-color: #0098d8;
        border-color: transparent;
        color: #fff;
    }
  }
}